<!DOCTYPE html>
<html lang="en">
<body>
    
    <nav class="navbar navbar-dark bg-dark">

        <h1 >
            Menu 
        </h1>
        
    </nav>

    <table>

        <tr>
            <td>
                <form action="/diaco" method="post">
                <button type="submit"> Crear queja </button>
                </form>
            </td>
            <td>
                <button onclick="window.location.href='/login'"> Ingresar al sistema </button>
            </td>
        </tr>

    </table>
    
</body>
</html>